<!DOCTYPE html>
{% load i18n %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}Ona - Devtrac Bridge{% endblock %}">
    <meta name="author" content="">

    {% block styles %}
      <link href="{{STATIC_URL}}bootstrap-3.1.1/css/bootstrap.css" rel="stylesheet" type="text/css" />
    {% endblock %}
  </head>

{% load i18n %}

    <body>
        <div class='container'>
            <div class='row'>
                {% block topbar %}

                {% endblock %}
            </div>
            <div class='row'>
                {% block content %}

                {% endblock %}
            </div>

            <div class="row">
                {% block footer %}
                <div class="col-lg-12">
                    <p>© 2014</p>
                </div>
                {% endblock %}
            </div>
        </div>

    {% block javascript %}

    {% endblock %}

  </body>
</html>

