{% extends 'base.html' %}

{% load i18n %}
{% load extra_filters %}

{% block topbar %}

<h1>Ona - Devtrac Bridge</h1>
{% endblock %}

{% block content %}

<h3>{% trans 'Total number of reports: ' %}{{ total_submissions }}</h3>
<h3>{% trans 'Number of processed: ' %}{{ num_processed }}</h3>

<table class="table">
    <thead>
        <tr>
            <th>Report</th>
            <th>Processed</th>
        </tr>
    </thead>
    <tbody>
        {% for submission in submissions %}
        <tr>
            <td>{{ submission.data|get:"_id" }}</td>
            <td>{{ submission.processed_string }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
