{% extends 'base.html' %}

{% load i18n %}
{% load extra_filters %}

{% block topbar %}

<h1>Ona - Devtrac Bridge</h1>
{% endblock %}

{% block content %}

<h3>{% trans 'Total number of reports: ' %}{{ total_submissions }}</h3>
<h3>{% trans 'Number of processed: ' %}{{ num_processed }}</h3>

<table class="table">
    <thead>
        <tr>
            <th>Report (Ona link)</th>
            <th>Processed (Devtrac link)</th>
        </tr>
    </thead>
    <tbody>
        {% for submission in submissions %}
        <tr>
            <td><a href="{{ ona_api_uri }}{{ submission.data|get:"_xform_id_string" }}/{{submission.data|get:"_id"}}.json">{{ submission.data|get:"_id" }}</a></td>
            <td>{% if submission.processed %}<a href="{{ submission.uri }}">{{ submission.nid }}</a>{% else %}{% trans "No" %}{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
